.conteiner{
    padding-left: 37px;
    padding-right: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.topo{

    margin-top: 48px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 59px;
    
}
.topo p{
    font-family: Righteous;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;

}
.perguntas{ 
    
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 25px;
    
    

}
.estilos-perguntas{
    
    display: flex;
    justify-content: space-between;
    

}
.estilos-perguntas p{
    font-family: Recursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    margin: 23px 15px 23px 15px;

}
.estilos-perguntas ion-icon{
    
    color: #333333;
    width: 20px;
    height: 23px;
    margin: 23px 15px 23px 15px;

}


.pergunta-fechada{
    padding: 15px;
    width: 100%;
    height: 131px;
    background-color: #FFFFD4;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;

}
.pergunta-fechada p {
    font-family: 'Recursive',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}
.img-pergunta-fechada{
    position: absolute;
    width: 30px;
    height: 20px;
    right: 8px;
    bottom: 5px;
}
.resposta-pergunta{
    padding: 15px;
    width: 100%;
    height:131px;
    background-color: #FEF7D4;
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.resposta-pergunta p{
    font-family: 'Recursive';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}
.opcoes{
    margin-top: 25.9px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.opcoes p {
    font-family: Recursive;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;

}
.nao-lembrei{
    width: 85.2px;
    height: 37.2px;
    background-color: #FF3030;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quase-nao-lembrei{
    width: 85.2px;
    height: 37.2px;
    background-color: #FF922E;
    border-radius: 5px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;

}

.zap{
    width: 85.2px;
    height: 37.2px;
    background-color: #2FBE34;
    border-radius: 5px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;

}
.estilos-perguntas-respondidas{
    
    display: flex;
    justify-content: space-between;

}
.estilos-perguntas-respondidas p {
    font-family: Recursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    margin: 23px 15px 23px 15px;
    color: #FF3030;
    text-decoration-line: line-through;
    
}


.estilos-perguntas-respondidas ion-icon{
    
    color: #FF3030;
    width: 20px;
    height: 23px;
    margin: 23px 15px 23px 15px;

}
.estilos-perguntas-respondidas-verde{
   
    display: flex;
    justify-content: space-between;
}
.estilos-perguntas-respondidas-verde p{
    font-family: Recursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    margin: 23px 15px 23px 15px;
    color: #2FBE34;
    text-decoration-line: line-through;

}
.estilos-perguntas-respondidas-verde ion-icon{
    color: #2FBE34;
    width: 20px;
    height: 23px;
    margin: 23px 15px 23px 15px;

}
.estilos-perguntas-respondidas-laranja{
    display: flex;
    justify-content: space-between;
    text-decoration-line: line-through;
}
.estilos-perguntas-respondidas-laranja p{
    font-family: Recursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    margin: 23px 15px 23px 15px;
    color: #FF922E;
    text-decoration-line: line-through;
   

}
.estilos-perguntas-respondidas-laranja ion-icon{
    color: #FF922E;
    width: 20px;
    height: 23px;
    margin: 23px 15px 23px 15px;

}
